@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

@keyframes menuSlideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-menuSlideIn {
  animation: menuSlideIn 0.5s forwards;
}
