@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes menuSlideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-menuSlideIn {
  animation: menuSlideIn 0.5s forwards;
}

.icon {
  transition: transform 0.3s ease;
}

.icon-container:hover .icon {
  transform: translateY(-5px) scale(1.1);
}

.text {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon-container:hover .text {
  opacity: 1;
}
